<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212132976621-ja6ev1mbqokiuej1l21kknsl8ktnie8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212132976621-ja6ev1mbqokiuej1l21kknsl8ktnie8m</string>
	<key>API_KEY</key>
	<string>AIzaSyBePo_r0UzQ2R4m92ytYdbddbuUvr-fSLc</string>
	<key>GCM_SENDER_ID</key>
	<string>212132976621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.euquero.motoboy</string>
	<key>PROJECT_ID</key>
	<string>euquero-motoboy-presentation</string>
	<key>STORAGE_BUCKET</key>
	<string>euquero-motoboy-presentation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212132976621:ios:213186a380d562d12839e4</string>
</dict>
</plist>